.container {
  &__display {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: space-evenly;
  }
  &__pages {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}
